@import "@angular/material/theming";
@include mat-core();

// $admin-primay-color: mat-palette($mat-teal, 800);
// $admin-accent-color: mat-palette($mat-light-green, 800);
// $admin-theme: mat-light-theme($admin-primay-color, $admin-accent-color);
// @include angular-material-theme($admin-theme);

$prontuario-primay-color: mat-palette($mat-amber, 800);
$prontuario-accent-color: mat-palette($mat-light-green, 800);
$prontuario-theme: mat-light-theme($prontuario-primay-color, $prontuario-accent-color);

@include angular-material-theme($prontuario-theme);
